<div class="form-group">
  <%= search_form_for(@search, :id => "resource_search", remote: true) do |f| %>
	<%= text_field_tag :location, params[:location], placeholder: "Houston, TX", class: "input-sm form-control" %>
<% end %>
</div>
